logicappcodeview
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": "@base64ToString(body('Get_blob_content_using_path_(V2)').$content)",
                "runAfter": {
                    "Get_blob_content_using_path_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Get_blob_content_using_path_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/GetFileContentByPath",
                    "queries": {
                        "inferContentType": true,
                        "path": "@triggerBody()?['Path']",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Send_event": {
                "inputs": {
                    "body": {
                        "ContentData": "@{base64(outputs('Compose'))}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['eventhubs_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent('testeventhub')}/events"
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "staticResult": {
                        "name": "Send_event0",
                        "staticResultOptions": "Disabled"
                    }
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "staticResults": {
            "Send_event0": {
                "outputs": {
                    "headers": {},
                    "statusCode": "OK"
                },
                "status": "Succeeded"
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)_(V2)": {
                "evaluatedRecurrence": {
                    "frequency": "Second",
                    "interval": 5
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/triggers/batch/onupdatedfile",
                    "queries": {
                        "checkBothCreatedAndModifiedDateTime": false,
                        "folderId": "JTJmZGVmYXVsdCUyZmV2ZW50cyUyZg==",
                        "maxFileCount": 10
                    }
                },
                "metadata": {
                    "JTJmZGVmYXVsdA==": "/default",
                    "JTJmZGVmYXVsdCUyZmV2ZW50cyUyZg==": "/default/events/",
                    "JTJmZGVmYXVsdCUyZnBlcnNvbiUyZg==": "/default/person/"
                },
                "recurrence": {
                    "frequency": "Second",
                    "interval": 5
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/f168d6e0-d242-450a-83fc-8c87d3b0831d/resourceGroups/aztestlogicapps_group/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/f168d6e0-d242-450a-83fc-8c87d3b0831d/providers/Microsoft.Web/locations/australiaeast/managedApis/azureblob"
                },
                "eventhubs_1": {
                    "connectionId": "/subscriptions/f168d6e0-d242-450a-83fc-8c87d3b0831d/resourceGroups/aztestlogicapps_group/providers/Microsoft.Web/connections/eventhubs-1",
                    "connectionName": "eventhubs-1",
                    "id": "/subscriptions/f168d6e0-d242-450a-83fc-8c87d3b0831d/providers/Microsoft.Web/locations/australiaeast/managedApis/eventhubs"
                }
            }
        }
    }
}
